:root {
    --main-color: #10cab7;
    --sec--color: #2c4755;
    --section-padding: 60px;
    --section--background: #F6F6F6;
}

/* start Glogbal var */
* {
    box-sizing: border-box;
}

body {
    font-family: " Work Sans", sans-serif;

}


.Container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

}

@media (min-width: 768px) {
    .Container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .Container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .Container {
        width: 1170px;
    }
}


/* End Glogbal var */


/* start componets*/
.speacial-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 3px;
    margin: 0;
}

.speacial-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media (max-width:767px) {
    .speacial-heading {
        font-size: 60px;

    }

    .speacial-heading+p {
        margin-top: -20px;
    }
}

/* End componets*/



/* Start Header */

.Header {
    padding: 20px;
}

.Header .Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header .Logo {
    width: 60px;
}

.Header .Links {
    position: relative;
    height: 20px;
}

.Header .Links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 2px;
}

.Header .Links span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;

}

.icon>span:first-child {
    height: 3px;
    width: 100%;
}

.icon>span:nth-child(2) {
    height: 3px;
    width: 60%;
    transition: .3s;
}

.Links:hover .icon>span:nth-child(2) {
    width: 100%;
}


.icon>span:last-child {
    height: 3px;
    width: 100%;
}

.Header .Links ul {
    content: "";
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--section--background);
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 20px);
    display: none;
    z-index: 1;
}

.Header .Links ul ::before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent #F6F6F6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.Header .Links ul a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #222;
    transition: .3s;
}


.Header .Links ul a:hover {
    padding-left: 25px;
}

.Header .Links ul li:not(:last-child) {
    border-bottom: 1px solid #EEE;
}

.Header .Links:hover ul {
    display: block;
}


/* End Header */


/* Start Landing */
.Landing {
    background-image: url(../Images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    margin: 0;
}

.Landing .intro_text {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 100%;
}

.Landing .intro_text h1 {
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;

}

@media (min-width:375) {
    .Landing .intro_text {
        font-size: 30px;

    }

}

.Landing .intro_text p {
    font-size: 19px;
    line-height: 1.8;
}

/* End Landing */

/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section--background);
}

.features .Container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;

}

.features .feat i {
    color: var(--main-color);

}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;


}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* End Features */


/* start Services */
.services {

    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-content {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;

}

.services i {
    font-size: 30px;
}

.col .serv {
    display: flex;
    margin-bottom: 40px;

}

@media (max-width:767px) {
    .col .serv {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        text-align: center;
    }
}

.col .serv i {
    color: var(--main-color);
    flex-basis: 60px;

}

.col .serv .text {
    flex: 1;
}

.col .serv .text h3 {
    margin: 0 0 20px;

}

.col .serv .text p {
    color: #777;
    font-weight: 300;
    line-height: 1.8;
}

.image {
    text-align: center;
    position: relative;

}

.image img {
    width: 260px;
}

.image::before {
    content: '';
    position: absolute;

    background-color: var(--sec--color);
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;


}

@media (max-width:1199px) {
    .image-col {
        display: none;
    }
}


/* End Services */


/* start Port */
.port {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section--background);


}

.port-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}

.port-content .card {
    background-color: white;


}

.port-content .card img {
    max-width: 100%;

}

.port-content .info {
    padding: 20px;
}

.info h3 {
    margin: 0;
}

.info p {
    color: #777;
    line-height: 1.8;
    margin-bottom: 0;
}



/* End Port */


/* start about */
.About {

    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);

}

.About-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.About-content .image-about {
    position: relative;
    width: 250px;
    height: 325px;

}

.About-content .image-about img {
    max-width: 100%;
}

.About-content .image-about::before {
    content: '';
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(120% + 100px);
    top: -50px;
    left: -20px;
    z-index: -1;
}

.About-content .image-about::after {

    content: '';
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    right: -150px;
    z-index: -2;
    top: -15px;


}

@media (max-width:991px) {

    .About-content {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .About-content .image-about {
        margin: 0 auto 50px;
    }

    .About-content .image-about::before,
    .About-content .image-about::after {
        display: none;
    }

}



.About-content .text {

    flex-basis: calc(100% - 500px);
    padding-left: 40px;

}

.About-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;

}

.About-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);

}

.About-content .text p:last-of-type {
    line-height: 2;
    color: #777;

}



/* End about */

/* start contact */
.Contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section--background);
}

.Contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;

}

.Contact .label {
    font-size: 30px;
    font-weight: 800;
    color: var(--sec--color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.Contact .link {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

@media (max-width:991px) {

    .Contact .link,
    .Contact .label {
        font-size: 20px;
        font-weight: 600;
    }
}



.Contact .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;

}

.Contact .social i {

    margin-left: 10px;
    color: var(--sec--color);
}

/* end contact */

/* start footer  */
.footer {
    background-color: var(--sec--color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;

}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}

/* end footer  */

html {
    scroll-behavior: smooth;
}